# Limpieza de Datos por Columna

## Importar dataset de limpieza 1

In [1]:
import pandas as pd
import numpy as np

In [112]:
path = 'C:/Users/Rodolfo/Documents/Trabajo Final Delfin 2018/Limpieza de datos/2011-2014/vivt_2011_2014.csv'
df_limpieza2 = pd.read_csv(path, low_memory = True, encoding='latin')
df_limpieza2.head(30)

,Unnamed: 0,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,...,d_sem,n_pro_viv,v_sel,n_ent,per,p1,p2,p3,ur,fac
0,0,1,1,32,121,0,1,14,1,1,...,101,3,1,4,111,5.0,1,NaN,1,100
1,1,1,1,32,121,0,1,14,1,1,...,101,27,2,4,111,1.0,1,NaN,1,100
2,2,1,1,32,121,0,1,14,1,1,...,101,53,3,4,111,3.0,1,NaN,1,100
3,3,1,1,32,121,0,1,14,1,1,...,101,78,4,4,111,4.0,1,NaN,1,100
4,4,1,1,32,121,0,1,14,1,1,...,101,103,5,4,111,4.0,1,NaN,1,100
5,5,1,1,32,121,0,1,14,1,2,...,101,76,1,4,111,1.0,1,NaN,1,143
6,6,1,1,32,121,0,1,14,1,2,...,101,109,2,4,111,4.0,1,NaN,1,143
7,7,1,1,32,121,0,1,14,1,2,...,101,223,3,4,111,NaN,,NaN,1,143
8,8,1,1,32,121,0,1,14,1,2,...,101,255,4,4,111,4.0,1,NaN,1,143
9,9,1,1,32,121,0,1,14,1,2,...,101,287,5,4,111,5.0,1,NaN,1,143
10,10,1,1,42,123,0,1,14,1,3,...,101,2,1,4,111,NaN,,NaN,1,130
11,11,1,1,42,123,0,1,14,1,3,...,101,26,2,4,111,NaN,,NaN,1,130
12,12,1,1,42,123,0,1,14,1,3,...,101,51,3,4,111,2.0,1,NaN,1,130
13,13,1,1,42,123,0,1,14,1,3,...,101,78,4,4,111,4.0,1,NaN,1,130
14,14,1,1,42,123,0,1,14,1,3,...,101,105,5,4,111,4.0,1,NaN,1,130
15,15,1,1,32,121,0,1,14,1,4,...,101,21,1,4,111,6.0,1,NaN,1,99
16,16,1,1,32,121,0,1,14,1,4,...,101,55,2,4,111,4.0,1,NaN,1,99
17,17,1,1,32,121,0,1,14,1,4,...,101,89,3,4,111,6.0,1,NaN,1,99
18,18,1,1,32,121,0,1,14,1,4,...,101,123,4,4,111,6.0,1,NaN,1,99
19,19,1,1,32,121,0,1,14,1,4,...,101,163,5,4,111,4.0,1,NaN,1,99
20,20,1,1,33,122,0,1,14,1,5,...,101,23,1,4,111,4.0,1,NaN,1,127
21,21,1,1,33,122,0,1,14,1,5,...,101,45,2,4,111,3.0,1,NaN,1,127
22,22,1,1,33,122,0,1,14,1,5,...,101,65,3,4,111,NaN,,NaN,1,127
23,23,1,1,33,122,0,1,14,1,5,...,101,87,4,4,111,6.0,1,NaN,1,127
24,24,1,1,33,122,0,1,14,1,5,...,101,100,5,4,111,NaN,,NaN,1,127
25,25,1,1,32,121,0,1,14,1,6,...,101,19,1,4,111,NaN,,NaN,1,101
26,26,1,1,32,121,0,1,14,1,6,...,101,40,2,4,111,NaN,,NaN,1,101
27,27,1,1,32,121,0,1,14,1,6,...,101,61,3,4,111,NaN,,NaN,1,101
28,28,1,1,32,121,0,1,14,1,6,...,101,83,4,4,111,6.0,1,NaN,1,101
29,29,1,1,32,121,0,1,14,1,6,...,101,104,5,4,111,5.0,1,NaN,1,101

## Crear copia del df

In [4]:
df_limpieza2.shape

(1927561, 21)

In [5]:
df_limpieza2_copy = df_limpieza2.copy()

In [6]:
df_limpieza2_copy.shape

(1927561, 21)

## Iniciar localizando los valores minimos y maximos

In [13]:
df_limpieza2_copy.describe()

,Unnamed: 0,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_ent,per,p1,p3,ur,fac
count,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1927561.0,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.927561e+06,1.669835e+06,10576.000000,1.927561e+06,1.927561e+06
mean,2.409450e+05,3.324103e+01,4.063963e+01,2.478221e+01,4.037716e+02,0.0,1.819921e+00,4.425381e+01,1.657139e+01,1.854428e+04,6.254610e+05,3.050868e+02,1.162259e+02,5.452708e+00,3.000348e+00,2.625000e+02,3.761704e+00,2.194686,1.392463e+00,3.035073e+02
std,1.391105e+05,1.756936e+02,6.044145e+01,8.842415e+00,4.068969e+02,0.0,1.150420e+00,3.355830e+01,9.101183e+00,2.142426e+04,9.805817e+05,1.414858e+02,1.213128e+02,4.982108e+00,1.414197e+00,1.118064e+02,1.863049e+00,0.498901,4.882990e-01,3.716389e+02
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+01,1.000000e+00,0.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.010000e+02,1.000000e+00,1.000000e+00,1.000000e+00,1.110000e+02,1.000000e+00,2.000000,1.000000e+00,0.000000e+00
25%,1.204720e+05,1.000000e+00,6.000000e+00,2.000000e+01,1.260000e+02,0.0,1.000000e+00,1.400000e+01,9.000000e+00,3.550000e+02,2.610000e+02,2.020000e+02,4.200000e+01,2.000000e+00,2.000000e+00,2.110000e+02,2.000000e+00,2.000000,1.000000e+00,9.700000e+01
50%,2.409450e+05,1.000000e+00,2.000000e+01,2.200000e+01,2.620000e+02,0.0,1.000000e+00,3.200000e+01,1.600000e+01,5.096000e+03,1.152000e+03,3.030000e+02,8.400000e+01,4.000000e+00,3.000000e+00,3.110000e+02,4.000000e+00,2.000000,1.000000e+00,1.540000e+02
75%,3.614170e+05,1.000000e+00,5.000000e+01,3.200000e+01,5.000000e+02,0.0,3.000000e+00,8.300000e+01,2.400000e+01,4.025700e+04,1.160814e+06,4.080000e+02,1.410000e+02,5.000000e+00,4.000000e+00,3.140000e+02,5.000000e+00,2.000000,2.000000e+00,3.690000e+02
max,4.825450e+05,9.001000e+03,5.700000e+02,4.300000e+01,1.885000e+03,0.0,4.000000e+00,8.600000e+01,3.200000e+01,6.005000e+04,3.260792e+06,5.130000e+02,2.840000e+03,2.600000e+01,5.000000e+00,4.140000e+02,3.000000e+01,6.000000,2.000000e+00,1.060200e+04

## Empezar la limpieza


### Localidad (loc)

* Número de la localidad: 0001-9998

In [15]:
df_limpieza2_copy['loc'] = df_limpieza2_copy['loc'].astype('int64')
df_limpieza2_copy['loc'].value_counts()

1       1472225
2         13005
3         12407
8         10572
5          9783
37         9777
4          8988
7          8291
11         7443
6          7382
9          7095
14         7048
16         6643
12         6412
13         6220
25         6151
18         6090
10         6045
122        5187
17         5015
35         4945
34         4936
15         4871
60         4614
19         4532
23         4494
44         4427
24         4427
22         4272
21         3968
         ...
1126          2
1683          2
1677          2
629           2
1165          2
1479          2
829           2
1196          2
797           2
1492          2
1057          2
493           2
1230          2
472           2
2564          1
1916          1
714           1
725           1
2133          1
463           1
1767          1
344           1
2692          1
1518          1
1150          1
641           1
623           1
609           1
1837          1
2234          1
Name: loc, Length: 898, dtype: int64

In [21]:
df_limpieza2_copy['loc'].max()

9001

In [22]:
df_limpieza2_copy['loc'].min()

1

### Municipio (mun)
* Número de municipio según entidad: 001-575

In [23]:
df_limpieza2_copy['mun'] = df_limpieza2_copy['mun'].astype('int64')
df_limpieza2_copy.mun.value_counts()

1      105271
4       98421
5       98207
2       91328
30      70007
17      68226
3       65452
6       64275
20      55105
7       51906
39      44773
14      42812
19      41648
28      41371
114     40528
101     39584
53      36856
10      36176
48      35111
50      34919
9       30766
8       26773
193     26650
11      25702
35      23454
38      23327
106     23003
67      21814
18      21694
56      20138
        ...
176       100
533       100
484       100
155       100
170       100
456       100
210       100
369       100
255       100
404       100
417       100
257       100
496        95
420        95
470        80
384        80
411        80
543        80
424        80
507        80
203        80
333        80
142        72
377        54
438        42
439        42
284        40
234        40
422        36
431        20
Name: mun, Length: 287, dtype: int64

In [24]:
df_limpieza2_copy.mun.max()

570

In [26]:
df_limpieza2_copy.mun.min()

1

In [35]:
df_limpieza2_copy.mun.unique()

array([  1,   5,   7,   6,   4,   3,   2,  10,  11,   8,   9,  27,  30,
        25,  32,  28,  33,  20,  17,  24,  38,  19,  21,  36,  35,  18,
        23,  14,  16, 101,  89,  78,  75,  37, 106,  40,  68,  47, 107,
        61, 108,  94,  13,  92,  65,  41,  12,  46,  99,  59,  97,  86,
        71,  57,  83, 111,  85,  52,  87,  82,  77, 100,  73,  26,  64,
        56,  63, 119,  62,  50,  31,  45,  48,  29,  43,  15,  39,  22,
        44,  42,  66,  55,  58,  53,  34,  69,  54,  72,  51,  76,  81,
        74,  80,  84,  67,  98, 120,  70,  91, 121,  90,  93, 118, 122,
        88, 123, 116, 109,  60, 104,  95,  49,  96, 112, 103, 114, 124,
       102, 105,  79, 385, 553, 390, 409, 350, 399, 174, 157, 115, 293,
       375, 403, 519, 184, 413, 284, 318, 482, 232, 557, 452, 134, 545,
       177, 364, 150, 401, 190, 546, 469, 131, 393, 515, 324, 570, 227,
       295, 441, 305, 438, 386, 136, 334, 502, 498, 377, 198, 348, 411,
       468, 176, 307, 278, 205, 149, 255, 277, 361, 392, 427, 543, 140,
       125, 181, 156, 154, 180, 186, 197, 132, 163, 110, 151, 214, 204,
       194, 183, 169, 199, 148, 208, 213, 172, 126, 133, 193, 141, 160,
       175, 206, 191, 130, 145, 211, 144, 128, 158, 138, 189, 200, 201,
       207, 164, 340, 300, 448, 137, 484, 500, 447, 261, 417, 554, 159,
       170, 257, 279, 188, 404, 113, 520, 565, 491, 473, 135, 397, 242,
       513, 217, 161, 143, 327, 178, 420, 317, 129, 209, 525, 414, 253,
       559, 456, 492, 485, 168, 117, 202, 185, 551, 505, 496, 533, 369,
       266, 210, 155, 384, 333, 507, 424, 470, 203, 142, 234, 439, 422,
       431], dtype=int64)

### Estrato (est)
* Primer dígito 1-4: El primer Carácter es la clave del estrato nacional
* Segundo dígito 0-4: El segundo se usa para el subestrato o estrato estatal

In [36]:
df_limpieza2_copy['est'] = df_limpieza2_copy['est'].astype('int64')
df_limpieza2_copy['est'].value_counts()

20    518157
30    261109
10    159578
22    143717
23    137016
33    131925
32    128000
40    107765
21     84943
43     59540
42     51900
12     43602
13     32171
11     24053
31     17385
24     17140
14      6235
41      3325
Name: est, dtype: int64

### Estrato de diseño (est_d)
* Número del estrato de diseño: 0001-9999

In [37]:
df_limpieza2_copy['est_d'] = df_limpieza2_copy['est_d'].astype('int64')
df_limpieza2_copy['est_d'].value_counts()

38      11385
275     11200
138     10710
28      10005
262      9875
113      9375
248      8815
183      8795
249      8320
26       8262
65       8110
124      7825
155      7775
207      7610
15       7525
112      7525
94       7450
90       7403
166      7340
105      7195
54       7105
55       7080
104      7040
221      6855
438      6830
352      6830
374      6819
35       6680
363      6645
328      6480
        ...
1397       20
1861       19
1413       15
1364       15
1301       15
1299       15
1458       15
1443       15
1023       15
1481       15
1109       15
1825       15
1551       15
1680       15
1833       15
1039       15
1118       15
1784       15
1701       10
1834       10
1392       10
1830       10
1734       10
1363       10
1769       10
1631        5
1730        5
1829        5
1772        5
1576        5
Name: est_d, Length: 1759, dtype: int64

In [38]:
df_limpieza2_copy['est_d'].max()

1885

In [40]:
df_limpieza2_copy['est_d'].min()

1

### Ageb (ageb)
* Número del estrato de diseño: 00000-99999

In [67]:
df_limpieza2_copy['ageb'] = df_limpieza2_copy['ageb'].astype('int64')
df_limpieza2_copy['ageb'].value_counts()

0    1927561
Name: ageb, dtype: int64

### Tamaño de localidad (t_loc)
* 1: localidad de 100 000 habitantes
* 2: Localidades de 15 000 a 99 999 habitantes
* 3: Localidades de 2 500 a 14 999 habitantes
* 4: Localidades menores

In [68]:
df_limpieza2_copy['t_loc'] = df_limpieza2_copy['t_loc'].astype('int64')
df_limpieza2_copy['t_loc'].value_counts()

1    1177415
4     302926
3     224450
2     222770
Name: t_loc, dtype: int64

### Ciudad autorrepresentada (cd_a)
* 01: México
* 02: Guadalajara
* 03: Monterrey
* 04: Puebla
* 05: León
* 06: Torreón (a partir de 2017)
* 07: San Luis Potosí
* 08: Mérida
* 09: Chihuahua
* 10: Tampico
* 12: Veracruz
* 13: Acapulco
* 14: Aguascalientes
* 15: Morelia
* 16: Toluca
* 17: Saltillo
* 18: Villahermosa
* 19: Tuxtla Gutiérrez
* 21: Tijuana
* 24: Culiacán
* 25: Hermosillo
* 26: Durango
* 27: Tepic
* 28: Campeche
* 29: Cuernavaca
* 31: Oaxaca
* 32: Zacatecas
* 33: Colima
* 36: Querétaro
* 39: Tlaxcala
* 40: La Paz
* 41: Cancún
* 43: Pachuca
* 81: Complemento urbano-rural
* 82: Complemento urbano-rural
* 83: Complemento urbano-rural
* 84: Complemento urbano-rural
* 85: Complemento urbano-rural
* 86: Complemento urbano-rural

In [69]:
df_limpieza2_copy['cd_a'] = df_limpieza2_copy['cd_a'].astype('int64')
df_limpieza2_copy['cd_a'].value_counts()

86    298101
81    135355
83    100180
84     98160
1      81600
85     74560
82     50140
2      48000
3      48000
4      48000
5      48000
43     33605
7      33600
8      33600
9      33600
10     33600
12     33600
13     33600
14     33600
16     33600
17     33600
19     33600
21     33600
25     33600
27     33600
29     33600
31     33600
36     33600
41     33600
15     33595
39     33595
18     33590
26     33590
24     33585
33     33570
32     33565
28     28785
40     28785
Name: cd_a, dtype: int64

In [73]:
df_limpieza2_copy['cd_a'].max()

86

In [76]:
df_limpieza2_copy['cd_a'].min()

1

In [78]:
df_limpieza2_copy['cd_a'].nunique()

38

### Entidad (ent)
* 01: Aguascalientes
* 02: Baja California
* 03: Baja California Sur
* 04: Campeche
* 05: Coahuila de Zaragoza
* 06: Colima
* 07: Chiapas
* 08: Chihuahua
* 09: Distrito Federal
* 10: Durango
* 11: Guanajuato
* 12: Guerrero
* 13: Hidalgo
* 14: Jalisco
* 15: México
* 16: Michoacán de Ocampo
* 17: Morelos
* 18: Nayarit
* 19: Nuevo León
* 20: Oaxaca
* 21: Puebla
* 22: Querétaro
* 23: Quintana Roo
* 24: San Luis Potosí
* 25: Sinaloa
* 26: Sonora
* 27: Tabasco
* 28: Tamaulipas
* 29: Tlaxcala
* 30: Veracruz de Ignacio de la Llave
* 31: Yucatán
* 32: Zacatecas

In [79]:
df_limpieza2_copy['ent'] = df_limpieza2_copy['ent'].astype('int64')
df_limpieza2_copy['ent'].value_counts()

15    83312
11    75221
30    72722
21    70490
14    67865
7     66341
2     65717
20    65669
19    64836
28    63220
12    62582
5     60915
8     59207
32    59187
16    58104
27    57809
24    57760
22    57705
18    57653
26    56171
1     56152
25    56133
6     54965
10    54606
13    54596
23    54529
17    54460
31    54408
29    52953
9     52879
4     52854
3     46540
Name: ent, dtype: int64

In [80]:
df_limpieza2_copy['ent'].max()

32

In [82]:
df_limpieza2_copy['ent'].min()

1

In [84]:
df_limpieza2_copy['ent'].nunique()

32

### Control (con)
#### Primer dìgito: Ámbito del número de control
* 0: El control pertenece a la muestra anterior
* 4: Ciudades autorrepresentadas
* 5: Complemento urbano
* 6: Rural
#### Los últimos cuatro
* 0001-9999: Consecutivo por entidad dígitos y ámbito

In [85]:
df_limpieza2_copy['con'] = df_limpieza2_copy['con'].astype('int64')
df_limpieza2_copy['con'].value_counts()

6001     7822
6002     7772
6004     7544
6003     7525
6005     7445
6006     6627
6020     6355
6023     6347
6024     6346
6025     6345
6022     6215
5005     6180
6021     6124
6019     6092
6018     6063
6017     5926
6016     5849
5004     5820
6015     5789
6007     5742
6014     5595
5006     5560
6013     5540
5003     5460
5007     5440
6008     5371
5002     5280
6012     5223
6010     5204
6011     5123
         ...
40629      30
40626      30
40628      30
40622      30
40623      30
50268      25
40632      25
40638      25
40639      25
40635      25
40633      25
40634      25
40636      25
40637      25
50263      25
50267      25
50262      25
50261      25
50260      25
50259      25
50258      25
40640      25
50264      25
50256      25
50265      25
50270      25
50266      25
50269      25
50257      25
40601      20
Name: con, Length: 3785, dtype: int64

In [86]:
df_limpieza2_copy['con'].max()

60050

In [87]:
df_limpieza2_copy['con'].min()

1

In [90]:
df_limpieza2_copy['con'].nunique()

3785

In [92]:
df_limpieza2_copy['con']

0              1
1              1
2              1
3              1
4              1
5              2
6              2
7              2
8              2
9              2
10             3
11             3
12             3
13             3
14             3
15             4
16             4
17             4
18             4
19             4
20             5
21             5
22             5
23             5
24             5
25             6
26             6
27             6
28             6
29             6
           ...
1927531    60038
1927532    60038
1927533    60038
1927534    60038
1927535    60038
1927536    60038
1927537    60038
1927538    60038
1927539    60038
1927540    60038
1927541    60039
1927542    60039
1927543    60039
1927544    60039
1927545    60039
1927546    60039
1927547    60039
1927548    60039
1927549    60039
1927550    60039
1927551    60039
1927552    60039
1927553    60039
1927554    60039
1927555    60039
1927556    60039
1927557    60039
1927558    60039
1927559    60039
1927560    60039
Name: con, Length: 1927561, dtype: int64

### Unidad primaria de muestreo (upm)
* Número de la unidad primaria de muestreo: 0100001-3299999

In [93]:
df_limpieza2_copy['upm'] = df_limpieza2_copy['upm'].astype('int64')
df_limpieza2_copy['upm'].value_counts()

1          5471
14         4928
3          4670
37         4300
19         4217
22         4183
27         4169
29         4073
9          4056
8          4018
23         4015
46         3998
7          3946
10         3910
40         3855
4          3774
31         3630
47         3579
11         3530
49         3481
53         3472
32         3465
5          3445
39         3390
52         3381
15         3303
38         3298
18         3190
26         3153
58         3145
           ...
1702873       5
1201872       5
1700776       5
204796        5
5739          5
7074          5
19743         5
6358          5
901423        5
3003092       5
3000005       5
23824         5
2302160       5
31762         5
1702907       5
24923         5
20365         5
20563         5
4702          5
1800053       5
2300456       5
26068         5
1700610       5
3103733       5
24829         5
1001441       5
6816          5
2101963       5
3345          5
1201793       5
Name: upm, Length: 23237, dtype: int64

In [95]:
df_limpieza2_copy['upm'].min()

1

In [98]:
df_limpieza2_copy['upm']

0              802
1              802
2              802
3              802
4              802
5              236
6              236
7              236
8              236
9              236
10             836
11             836
12             836
13             836
14             836
15            1083
16            1083
17            1083
18            1083
19            1083
20             795
21             795
22             795
23             795
24             795
25            1356
26            1356
27            1356
28            1356
29            1356
            ...
1927531    3260355
1927532    3260355
1927533    3260355
1927534    3260355
1927535    3260355
1927536    3260355
1927537    3260355
1927538    3260355
1927539    3260355
1927540    3260355
1927541    3260790
1927542    3260790
1927543    3260790
1927544    3260790
1927545    3260790
1927546    3260790
1927547    3260790
1927548    3260790
1927549    3260790
1927550    3260790
1927551    3260790
1927552    3260790
1927553    3260790
1927554    3260790
1927555    3260790
1927556    3260790
1927557    3260790
1927558    3260790
1927559    3260790
1927560    3260790
Name: upm, Length: 1927561, dtype: int64

### Distribuciòn semanal (d_sem)
#### Primer dígito 1-5
* Panel de 1 a 5: 1-5
#### Segundo y tercer dígito
* 01-13: Número de semanacuando el campo CD_A es menor o igual 43
* 01-03: Número del mes cuando el campo CD_A es mayor de 43

In [99]:
df_limpieza2_copy['d_sem'] = df_limpieza2_copy['d_sem'].astype('int64')
df_limpieza2_copy['d_sem'].value_counts()

202    72295
401    71588
103    71016
501    70378
102    70117
503    70086
301    69618
403    68144
302    68084
203    66968
303    66564
201    66494
402    66113
502    65250
101    64166
510    18505
213    18320
211    18320
112    18300
304    18240
413    18220
512    18205
409    18200
504    18190
406    18190
310    18185
506    18175
208    18160
206    18160
405    18150
       ...
107    18100
105    18100
205    18080
309    18020
108    18020
411    17990
313    17975
507    17970
307    17965
306    17965
412    17960
106    17940
209    17920
110    17920
111    17920
204    17920
311    17885
305    17875
104    17860
407    17850
210    17840
508    17825
513    17820
308    17805
212    17720
404    17710
410    17700
505    17665
511    17645
113    17560
Name: d_sem, Length: 65, dtype: int64

### Número progresivo de la vivienda (n_pro_viv)
 * Número progresivo de la vivienda en el listado: 0001-9999

In [100]:
df_limpieza2_copy['n_pro_viv'] = df_limpieza2_copy['n_pro_viv'].astype('int64')
df_limpieza2_copy['n_pro_viv'].value_counts()

64      12212
40      12211
18      12165
19      11998
47      11990
13      11974
54      11967
46      11958
37      11913
28      11913
14      11899
52      11893
38      11863
11      11853
75      11847
24      11847
69      11846
73      11823
62      11823
72      11817
21      11803
50      11783
23      11776
26      11774
56      11774
22      11768
79      11764
60      11763
31      11747
32      11741
        ...
1596        4
1298        4
1538        4
962         3
1067        3
1626        3
1026        3
1145        3
1005        3
908         3
1581        2
1584        2
1525        2
1577        2
1588        2
1570        2
1501        2
1514        2
1564        2
1458        2
1483        2
1287        1
937         1
1201        1
1352        1
1226        1
1250        1
1575        1
1307        1
1331        1
Name: n_pro_viv, Length: 1233, dtype: int64

In [101]:
df_limpieza2_copy['n_pro_viv'].max()

2840

In [102]:
df_limpieza2_copy['n_pro_viv'].min()

1

### Vivienda seleccionada v_sel
* Numero de vivienda seleccionada: 01-99

In [103]:
df_limpieza2_copy['v_sel'] = df_limpieza2_copy['v_sel'].astype('int64')
df_limpieza2_copy['v_sel'].value_counts()

1     291257
2     291257
4     291257
5     291257
3     291251
6      31740
7      31740
8      31740
9      31740
10     31740
12     30885
13     30885
14     30882
15     30882
11     30879
16     30866
17     30854
18     30812
19     30211
20     28907
21      4211
22      2095
23       163
24        44
25         3
26         3
Name: v_sel, dtype: int64

### Número de entrevista o visita (v_ent)
* Número de entrevista o visita realizada: 1-5

In [104]:
df_limpieza2_copy['n_ent'] = df_limpieza2_copy['n_ent'].astype('int64')
df_limpieza2_copy['n_ent'].value_counts()

5    385625
3    385599
4    385577
1    385397
2    385363
Name: n_ent, dtype: int64

### Periodo (per)
#### Primer dígito : Trimestre de año
* 1 Enero-Marzo
* 2 Abril-Junio
* 3 Julio-Septiembre
* 4 Octubre-Diciembre
#### Segundo dígito y tercer en digito 
* Año en curso: 05-99

In [105]:
df_limpieza2_copy['per'] = df_limpieza2_copy['per'].astype('int64')
df_limpieza2_copy['per'].value_counts()

412    120684
312    120665
311    120628
212    120618
411    120617
211    120608
111    120608
112    120579
113    120458
213    120405
313    120333
414    120325
314    120313
214    120267
413    120238
114    120215
Name: per, dtype: int64

In [107]:
df_limpieza2_copy.dtypes

Unnamed: 0      int64
loc             int64
mun             int64
est             int64
est_d           int64
ageb            int64
t_loc           int64
cd_a            int64
ent             int64
con             int64
upm             int64
d_sem           int64
n_pro_viv       int64
v_sel           int64
n_ent           int64
per             int64
p1            float64
p2             object
p3            float64
ur              int64
fac             int64
dtype: object

In [114]:
df_limpieza2_copy['p1'].unique()

array([ 5.,  1.,  3.,  4., nan,  2.,  6.,  8., 12.,  7., 13.,  9., 14.,
       10., 11., 15., 24., 17., 16., 23., 18., 19., 20., 26., 22., 21.,
       30., 25., 29., 27.])

In [118]:
df_limpieza2_copy['p1'] = df_limpieza2_copy['p1'].fillna(99)

In [119]:
df_limpieza2_copy['p1'].unique()

array([ 5.,  1.,  3.,  4., 99.,  2.,  6.,  8., 12.,  7., 13.,  9., 14.,
       10., 11., 15., 24., 17., 16., 23., 18., 19., 20., 26., 22., 21.,
       30., 25., 29., 27.])

### Pregunta 1 (p1)
##### ¿Cuántas personas viven normalmente en esta vivienda contando a los niños chiquitosy a los ancianos?
* 01-99: Número de personas que viven en la vivienda

In [120]:
df_limpieza2_copy['p1'] = df_limpieza2_copy['p1'].astype('int64')
df_limpieza2_copy['p1'].value_counts()

4     384979
3     330203
2     287629
5     266746
99    257726
1     159976
6     123784
7      58234
8      28435
9      13835
10      7450
11      3878
12      2171
13      1033
14       598
15       408
16       207
17        90
19        48
18        43
20        31
21        16
22        15
24        11
25         4
23         3
26         3
30         2
27         2
29         1
Name: p1, dtype: int64

In [138]:
df_limpieza2_copy['p2'].value_counts()

1     1659259
99     257726
2       10576
Name: p2, dtype: int64

In [136]:
df_limpieza2_copy.replace({" ":99}, inplace= True)

In [140]:
empty_columns_2011_2014 = df_limpieza2_copy.columns

In [142]:
empty_columns_2011_2014 = df_limpieza2_copy.columns[df_limpieza2_copy.isnull().any()].tolist()
len(empty_columns_2011_2014)

1

In [144]:
df_limpieza2_copy.head(15)

,Unnamed: 0,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,...,d_sem,n_pro_viv,v_sel,n_ent,per,p1,p2,p3,ur,fac
0,0,1,1,32,121,0,1,14,1,1,...,101,3,1,4,111,5,1,NaN,1,100
1,1,1,1,32,121,0,1,14,1,1,...,101,27,2,4,111,1,1,NaN,1,100
2,2,1,1,32,121,0,1,14,1,1,...,101,53,3,4,111,3,1,NaN,1,100
3,3,1,1,32,121,0,1,14,1,1,...,101,78,4,4,111,4,1,NaN,1,100
4,4,1,1,32,121,0,1,14,1,1,...,101,103,5,4,111,4,1,NaN,1,100
5,5,1,1,32,121,0,1,14,1,2,...,101,76,1,4,111,1,1,NaN,1,143
6,6,1,1,32,121,0,1,14,1,2,...,101,109,2,4,111,4,1,NaN,1,143
7,7,1,1,32,121,0,1,14,1,2,...,101,223,3,4,111,99,99,NaN,1,143
8,8,1,1,32,121,0,1,14,1,2,...,101,255,4,4,111,4,1,NaN,1,143
9,9,1,1,32,121,0,1,14,1,2,...,101,287,5,4,111,5,1,NaN,1,143
10,10,1,1,42,123,0,1,14,1,3,...,101,2,1,4,111,99,99,NaN,1,130
11,11,1,1,42,123,0,1,14,1,3,...,101,26,2,4,111,99,99,NaN,1,130
12,12,1,1,42,123,0,1,14,1,3,...,101,51,3,4,111,2,1,NaN,1,130
13,13,1,1,42,123,0,1,14,1,3,...,101,78,4,4,111,4,1,NaN,1,130
14,14,1,1,42,123,0,1,14,1,3,...,101,105,5,4,111,4,1,NaN,1,130

In [146]:
df_limpieza2_copy['p2'].value_counts()

1     1659259
99     257726
2       10576
Name: p2, dtype: int64

### Pregunta 2 (p2)
#### ¿Todas estas personas comparten un mismo gasto para comer? 
*  Si: 1
*  No: 2

In [147]:
df_limpieza2_copy['p2'] = df_limpieza2_copy['p2'].astype('int64')
df_limpieza2_copy['p2'].value_counts()

1     1659259
99     257726
2       10576
Name: p2, dtype: int64

In [152]:
df_limpieza2_copy.p3.unique()

array([nan,  2.,  3.,  4.,  5.,  6.])

In [153]:
df_limpieza2_copy['p3'] = df_limpieza2_copy['p3'].fillna(99)

In [154]:
df_limpieza2_copy.p3.unique()

array([99.,  2.,  3.,  4.,  5.,  6.])

### Pregunta 3 (p3)
#### ¿Cuántos hogares o grupos de personas tienen gastos separados para comer contando el de usted?
* Numero de hogares en la vivienda: 02-09

In [155]:
df_limpieza2_copy['p3'] = df_limpieza2_copy['p3'].astype('int64')
df_limpieza2_copy['p3'].value_counts()

99    1916985
2        8913
3        1343
4         259
5          46
6          15
Name: p3, dtype: int64

### Campo exclusivo de proceso (ur)
* Campo de proceso: 1-2

In [156]:
df_limpieza2_copy['ur'] = df_limpieza2_copy['ur'].astype('int64')
df_limpieza2_copy['ur'].value_counts()

1    1171065
2     756496
Name: ur, dtype: int64

### Factor de exp (fac) 
* valor: 000001-999998

In [157]:
df_limpieza2_copy['fac'] = df_limpieza2_copy['fac'].astype('int64')
df_limpieza2_copy['fac'].value_counts()

100     11703
98      11331
101     11283
102     11159
99      11055
103     10850
95      10696
106     10586
104     10569
97      10502
105     10433
108     10420
114     10267
110     10249
109     10095
113     10061
96      10052
94      10025
93       9992
116      9984
111      9979
120      9896
92       9889
119      9832
112      9801
117      9801
107      9575
115      9492
88       9468
124      9362
        ...
4685        5
3667        5
3218        5
4689        5
2646        5
2183        5
2650        5
2655        5
2656        5
3685        5
3210        5
2628        5
5698        5
2625        5
2607        5
3630        5
3219        5
2610        5
3634        5
3216        5
4662        5
3217        5
2612        5
2615        5
2614        5
2617        5
2616        5
4670        5
4668        5
2527        5
Name: fac, Length: 3026, dtype: int64

In [158]:
df_limpieza2_copy['fac'].max()

10602

In [159]:
df_limpieza2_copy['fac'].min()

0

In [169]:
df_limpieza2_copy['fac'].head(100)

0     100
1     100
2     100
3     100
4     100
5     143
6     143
7     143
8     143
9     143
10    130
11    130
12    130
13    130
14    130
15     99
16     99
17     99
18     99
19     99
20    127
21    127
22    127
23    127
24    127
25    101
26    101
27    101
28    101
29    101
     ...
70    124
71    124
72    124
73    124
74    124
75    101
76    101
77    101
78    101
79    101
80     96
81     96
82     96
83     96
84     96
85    129
86    129
87    129
88    129
89    129
90    169
91    169
92    169
93    169
94    169
95     88
96     88
97     88
98     88
99     88
Name: fac, Length: 100, dtype: int64

In [160]:
empty_columns_2011_2014 = df_limpieza2_copy.columns

In [172]:
empty_columns_2011_2014 = df_limpieza2_copy.columns[df_limpieza2_copy.isnull().any()].tolist()
len(empty_columns_2011_2014)

0

In [173]:
df_limpieza2_copy.head(25)

,Unnamed: 0,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,con,...,d_sem,n_pro_viv,v_sel,n_ent,per,p1,p2,p3,ur,fac
0,0,1,1,32,121,0,1,14,1,1,...,101,3,1,4,111,5,1,99,1,100
1,1,1,1,32,121,0,1,14,1,1,...,101,27,2,4,111,1,1,99,1,100
2,2,1,1,32,121,0,1,14,1,1,...,101,53,3,4,111,3,1,99,1,100
3,3,1,1,32,121,0,1,14,1,1,...,101,78,4,4,111,4,1,99,1,100
4,4,1,1,32,121,0,1,14,1,1,...,101,103,5,4,111,4,1,99,1,100
5,5,1,1,32,121,0,1,14,1,2,...,101,76,1,4,111,1,1,99,1,143
6,6,1,1,32,121,0,1,14,1,2,...,101,109,2,4,111,4,1,99,1,143
7,7,1,1,32,121,0,1,14,1,2,...,101,223,3,4,111,99,99,99,1,143
8,8,1,1,32,121,0,1,14,1,2,...,101,255,4,4,111,4,1,99,1,143
9,9,1,1,32,121,0,1,14,1,2,...,101,287,5,4,111,5,1,99,1,143
10,10,1,1,42,123,0,1,14,1,3,...,101,2,1,4,111,99,99,99,1,130
11,11,1,1,42,123,0,1,14,1,3,...,101,26,2,4,111,99,99,99,1,130
12,12,1,1,42,123,0,1,14,1,3,...,101,51,3,4,111,2,1,99,1,130
13,13,1,1,42,123,0,1,14,1,3,...,101,78,4,4,111,4,1,99,1,130
14,14,1,1,42,123,0,1,14,1,3,...,101,105,5,4,111,4,1,99,1,130
15,15,1,1,32,121,0,1,14,1,4,...,101,21,1,4,111,6,1,99,1,99
16,16,1,1,32,121,0,1,14,1,4,...,101,55,2,4,111,4,1,99,1,99
17,17,1,1,32,121,0,1,14,1,4,...,101,89,3,4,111,6,1,99,1,99
18,18,1,1,32,121,0,1,14,1,4,...,101,123,4,4,111,6,1,99,1,99
19,19,1,1,32,121,0,1,14,1,4,...,101,163,5,4,111,4,1,99,1,99
20,20,1,1,33,122,0,1,14,1,5,...,101,23,1,4,111,4,1,99,1,127
21,21,1,1,33,122,0,1,14,1,5,...,101,45,2,4,111,3,1,99,1,127
22,22,1,1,33,122,0,1,14,1,5,...,101,65,3,4,111,99,99,99,1,127
23,23,1,1,33,122,0,1,14,1,5,...,101,87,4,4,111,6,1,99,1,127
24,24,1,1,33,122,0,1,14,1,5,...,101,100,5,4,111,99,99,99,1,127

In [178]:
path = 'C:/Users/Rodolfo/Documents/Trabajo Final Delfin 2018/Limpieza de datos/Limpieza1/vivt_limpiezafinal.csv'

df_limpieza2_copy.to_csv(path_or_buf=path, index=True, encoding='utf-8')